@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-light text-text-light dark:bg-primary-dark dark:text-text-dark;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
    letter-spacing: -0.3px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-semibold text-text-light dark:text-text-dark;
  }
}

::selection {
  @apply bg-accent text-primary-light dark:text-primary-dark;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-secondary-light dark:bg-secondary-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-tertiary-light dark:bg-tertiary-dark rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-text-light dark:bg-text-dark;
}

.bg-custom-primary {
  @apply bg-primary-light dark:bg-primary-dark;
}
.text-custom-main {
  @apply text-text-light dark:text-text-dark;
}
.border-custom {
  @apply border-tertiary-light dark:border-tertiary-dark;
}
